.fontcustom {
  background-image: url("./tres-amigos@2x.webp");
  min-height: 75vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderstyle {
  border: 2px solid #dce2e8;
}

.fontBranch {
  min-height: 75vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
